<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="gap-2">
    <ng-template pTemplate="left">
      <p-button
        styleClass="p-button-success px-4 py-[10px] h-10"
        (onClick)="add()"
        label="New"
        icon="pi pi-plus"
      >
      </p-button>
      <p-button
        styleClass="p-button-danger px-4 py-[10px] h-10 ml-2"
        (onClick)="exportToExcel()"
        label="Export"
        icon="pi pi-download"
      >
      </p-button>
    </ng-template>

    <ng-template pTemplate="right">
      <div class="flex justify-item-center gap-2">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            id="search"
            type="text"
            pInputText
            placeholder="Search"
            class="transition-all outline outline-2 outline-transparent hover:border-blue-500 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline w-full border rounded-lg pl-10 pr-2 py-1 h-10"
          />
        </span>
        <p-button
          styleClass="p-button-info p-button-outlined px-4 py-[10px] h-10"
          label="Clear"
          icon="pi pi-filter-slash"
          (onClick)="clearFilter()"
        ></p-button>
      </div>
    </ng-template>
  </p-toolbar>
  <p-table [value]="schedules" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3%">ID</th>
        <th style="width: 15%">
          <div class="flex justify-items-center">
            <p class="py-3">Session Name</p>
            <p-button
              icon="pi pi-filter"
              [styleClass]="
                'p-button-rounded p-button-text h-2 ' +
                (scheduleSearch.sessionName
                  ? 'p-button-info'
                  : 'p-button-secondary')
              "
              (onClick)="opSessionName.toggle($event)"
            ></p-button>
            <p-overlayPanel #opSessionName [showCloseIcon]="true">
              <input
                type="text"
                pInputText
                id="sessionName"
                [(ngModel)]="scheduleSearch.sessionName"
                required
                autofocus
                class="transition-all outline outline-2 outline-transparent hover:border-blue-500 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline mt-1 p-2 w-full sm:text-sm border border-gray-300 rounded-md"
              />
              <div class="flex justify-between mt-3">
                <p-button
                  styleClass="p-button-outlined p-2 text-sm"
                  (onClick)="singleClear('sessionName')"
                  label="Clear"
                >
                </p-button>
                <p-button
                  styleClass="p-button-info p-2 text-sm"
                  (onClick)="applyAndClose($event, opSessionName)"
                  label="Apply"
                >
                </p-button>
              </div>
            </p-overlayPanel>
          </div>
        </th>
        <th style="width: 8%">
          <div class="flex justify-items-center">
            <p class="py-3">Date</p>
            <p-button
              icon="pi pi-filter"
              [styleClass]="
                'p-button-rounded p-button-text h-2 ' +
                (startTimeSearch || endTimeSearch || monthSearch || yearSearch
                  ? 'p-button-info'
                  : 'p-button-secondary')
              "
              (onClick)="opDate.toggle($event)"
            ></p-button>
            <p-overlayPanel #opDate [showCloseIcon]="true">
              <div class="flex flex-col gap-3">
                <div class="flex gap-3 justify-items-center">
                    <p-radioButton name="dateSearch" value="day" [(ngModel)]="dateOption" inputId="dateSearch1"></p-radioButton>
                    <div class="pt-3 w-[50px]">Day</div>
                    <p-calendar
                      [(ngModel)]="startTimeSearch"
                      appendTo="body"
                      [showButtonBar]="true"
                      [readonlyInput]="true"
                      styleClass="w-[112px]"
                    ></p-calendar>
                    <label class="pt-3">-</label>
                    <p-calendar
                      [(ngModel)]="endTimeSearch"
                      appendTo="body"
                      [showButtonBar]="true"
                      [readonlyInput]="true"
                      styleClass="w-[112px]"
                    ></p-calendar>
                </div>
                
                <div class="flex gap-3 justify-items-center">
                    <p-radioButton name="dateSearch" value="month" [(ngModel)]="dateOption" inputId="dateSearch2"></p-radioButton>
                    <div class="pt-3 w-[50px]">Month</div>
                    <p-calendar [(ngModel)]="monthSearch" view="month" dateFormat="mm/yy" [readonlyInput]="true"
                    styleClass="w-[112px]"></p-calendar>
                </div>
                
                <div class="flex gap-3 justify-items-center">
                    <p-radioButton name="dateSearch" value="year" [(ngModel)]="dateOption" inputId="dateSearch3"></p-radioButton>
                    <div class="pt-3 w-[50px]">Year</div>
                    <p-calendar [(ngModel)]="yearSearch" view="year" dateFormat="yy" [readonlyInput]="true"
                    styleClass="w-[112px]"></p-calendar>
                </div>
            </div>
              <div class="flex justify-between mt-3">
                <p-button
                  styleClass="p-button-outlined p-2 text-sm"
                  (onClick)="singleClear('date')"
                  label="Clear"
                >
                </p-button>
                <p-button
                  styleClass="p-button-info p-2 text-sm"
                  (onClick)="applyAndClose($event, opDate)"
                  label="Apply"
                >
                </p-button>
              </div>
            </p-overlayPanel>
          </div>
        </th>
        <th style="width: 8%">Time</th>
        <th style="width: 10%">
          <div class="flex justify-items-center">
            <p class="py-3">Training Type</p>
            <p-button
              icon="pi pi-filter"
              [styleClass]="
                'p-button-rounded p-button-text h-2 ' +
                (scheduleSearch.trainingType
                  ? 'p-button-info'
                  : 'p-button-secondary')
              "
              (onClick)="opTrainingType.toggle($event)"
            ></p-button>
            <p-overlayPanel #opTrainingType [showCloseIcon]="true">
              <p-dropdown
                appendTo="body"
                [(ngModel)]="scheduleSearch.trainingType"
                id="trainingType"
                placeholder="Any"
                [options]="trainingTypes"
                styleClass="w-40"
              >
                <ng-template pTemplate="selectedItem">
                  <p-tag
                    [value]="scheduleSearch.trainingType || ''"
                    [severity]="getSeverity(scheduleSearch.trainingType || '')"
                  ></p-tag>
                </ng-template>
                <ng-template let-option pTemplate="item">
                  <p-tag
                    [value]="option.label"
                    [severity]="getSeverity(option.label)"
                  ></p-tag>
                </ng-template>
              </p-dropdown>
              <div class="flex justify-between mt-3">
                <p-button
                  styleClass="p-button-outlined p-2 text-sm"
                  (onClick)="singleClear('trainingType')"
                  label="Clear"
                >
                </p-button>
                <p-button
                  styleClass="p-button-info p-2 text-sm"
                  (onClick)="applyAndClose($event, opTrainingType)"
                  label="Apply"
                >
                </p-button>
              </div>
            </p-overlayPanel>
          </div>
        </th>
        <th style="width: 10%">
          <div class="flex justify-items-center">
            <p class="py-3">Class Type</p>
            <p-button
              icon="pi pi-filter"
              [styleClass]="
                'p-button-rounded p-button-text h-2 ' +
                (scheduleSearch.clazzType
                  ? 'p-button-info'
                  : 'p-button-secondary')
              "
              (onClick)="opClazzType.toggle($event)"
            ></p-button>
            <p-overlayPanel #opClazzType [showCloseIcon]="true">
              <p-dropdown
                appendTo="body"
                [(ngModel)]="scheduleSearch.clazzType"
                id="clazzType"
                placeholder="Any"
                optionLabel="label"
                optionValue="value"
                [options]="clazzTypes"
                styleClass="w-40"
              >
              </p-dropdown>
              <div class="flex justify-between mt-3">
                <p-button
                  styleClass="p-button-outlined p-2 text-sm"
                  (onClick)="singleClear('clazzType')"
                  label="Clear"
                >
                </p-button>
                <p-button
                  styleClass="p-button-info p-2 text-sm"
                  (onClick)="applyAndClose($event, opClazzType)"
                  label="Apply"
                >
                </p-button>
              </div>
            </p-overlayPanel>
          </div>
        </th>
        <th style="width: 10%">Class Details</th>
        <th style="width: 11%">
          <div class="flex justify-items-center">
            <p class="py-3">Trainers</p>
            <p-button
              icon="pi pi-filter"
              [styleClass]="
                'p-button-rounded p-button-text h-2 ' +
                (scheduleSearch.trainers
                  ? 'p-button-info'
                  : 'p-button-secondary')
              "
              (onClick)="opTrainerName.toggle($event)"
            ></p-button>
            <p-overlayPanel #opTrainerName [showCloseIcon]="true">
              <p-multiSelect
                appendTo="body"
                [options]="trainers"
                [(ngModel)]="scheduleSearch.trainers"
                defaultLabel="Select trainers"
                optionLabel="fullName"
                styleClass="w-[265px]"
              >
                <ng-template let-value pTemplate="selectedItems">
                  <div
                    class="flex align-items-center gap-2"
                    *ngFor="let option of scheduleSearch.trainers"
                  >
                    <p-chip
                      [label]="option.firstName + ' ' + option.lastName"
                      [image]="path + '/users/images/' + option.avatar"
                      [removable]="true"
                      (onRemove)="removeSearch(option)"
                    ></p-chip>
                  </div>
                  <div
                    *ngIf="
                      !scheduleSearch.trainers ||
                      scheduleSearch.trainers.length === 0
                    "
                  >
                    Any
                  </div>
                </ng-template>
                <ng-template let-trainer pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <img
                      [src]="path + '/users/images/' + trainer.avatar"
                      style="width: 24px"
                    />
                    <div>{{ trainer.firstName }} {{ trainer.lastName }}</div>
                  </div>
                </ng-template>
              </p-multiSelect>
              <div class="flex justify-between mt-3">
                <p-button
                  styleClass="p-button-outlined p-2 text-sm"
                  (onClick)="singleClear('trainers')"
                  label="Clear"
                >
                </p-button>
                <p-button
                  styleClass="p-button-info p-2 text-sm"
                  (onClick)="applyAndClose($event, opTrainerName)"
                  label="Apply"
                >
                </p-button>
              </div>
            </p-overlayPanel>
          </div>
        </th>
        <th style="width: 15%">
          <div class="flex justify-items-center">
            <p class="py-3">Class Name</p>
            <p-button
              icon="pi pi-filter"
              [styleClass]="
                'p-button-rounded p-button-text h-2 ' +
                (scheduleSearch.clazz ? 'p-button-info' : 'p-button-secondary')
              "
              (onClick)="opClazzName.toggle($event)"
            ></p-button>
            <p-overlayPanel #opClazzName [showCloseIcon]="true">
              <p-dropdown
                appendTo="body"
                [(ngModel)]="scheduleSearch.clazz"
                id="clazz"
                [options]="clazzes"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Any"
                styleClass="w-[265px]"
              >
              </p-dropdown>
              <div class="flex justify-between mt-3">
                <p-button
                  styleClass="p-button-outlined p-2 text-sm"
                  (onClick)="singleClear('clazz')"
                  label="Clear"
                >
                </p-button>
                <p-button
                  styleClass="p-button-info p-2 text-sm"
                  (onClick)="applyAndClose($event, opClazzName)"
                  label="Apply"
                >
                </p-button>
              </div>
            </p-overlayPanel>
          </div>
        </th>
        <th style="width: 8%">Organizer</th>
        <th style="width: 2%">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-schedule>
      <tr>
        <td>{{ schedule.id }}</td>
        <td>{{ schedule.sessionName }}</td>
        <td>{{ schedule.startTime | date : "MMM dd, yyyy" }}</td>
        <td>
          {{ schedule.startTime | date : "HH:mm" }} -
          {{ schedule.endTime | date : "HH:mm" }}
        </td>
        <td>
          <p-tag
            [value]="schedule.trainingType"
            [severity]="getSeverity(schedule.trainingType)"
          ></p-tag>
        </td>
        <td>{{ schedule.clazzType }}</td>
        <td>
          <ng-container *ngIf="schedule.clazzType == 'ZOOM'; else elseTemplate">
            <a
              href="{{ schedule.clazzDetails }}"
              target="_blank"
              class="hover:underline text-blue-700"
              >Zoom link</a
            >
          </ng-container>
          <ng-template #elseTemplate>
            {{ schedule.clazzDetails }}
          </ng-template>
        </td>
        <td>
          <ol class="list-decimal">
            <li *ngFor="let trainer of schedule.trainers">
              <p-chip
                [label]="trainer.firstName + ' ' + trainer.lastName"
                [image]="path + '/users/images/' + trainer.avatar"
              ></p-chip>
            </li>
          </ol>
        </td>
        <td>{{ schedule.clazz.name }}</td>
        <td>{{ schedule.organizer.fullName }}</td>
        <td>
          <div class="flex gap-3">
            <div class="hover:cursor-pointer" (click)="edit(schedule)">
              <i class="pi pi-pencil" style="color: blue"></i>
            </div>
            <div class="hover:cursor-pointer" (click)="delete(schedule)">
              <i class="pi pi-trash" style="color: red"></i>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20, 30]"
  ></p-paginator>
</div>
<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '600px' }"
  header="Schedule Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="space-y-4">
      <div class="field">
        <label class="block font-medium text-gray-700">Organizer</label>
        <label class="block text-sm text-gray-700"
          >{{ schedule.organizer.fullName }}
          <span class="italic">({{ schedule.organizer.email }})</span></label
        >
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">
          Session Name <span class="text-red-500">*</span></label
        >
        <input
          type="text"
          pInputText
          id="sessionName"
          [(ngModel)]="schedule.sessionName"
          required
          autofocus
          class="transition-all outline outline-2 outline-transparent hover:border-blue-500 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline mt-1 p-2 w-full sm:text-sm border border-gray-300 rounded-md"
        />
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700"> Training Type </label>
        <p-dropdown
          appendTo="body"
          [(ngModel)]="schedule.trainingType"
          id="trainingType"
          [options]="trainingTypes"
          class="mt-1 block sm:text-sm"
        >
          <ng-template pTemplate="selectedItem">
            <p-tag
              [value]="schedule.trainingType || ''"
              [severity]="getSeverity(schedule.trainingType || '')"
            ></p-tag>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <p-tag
              [value]="option.label"
              [severity]="getSeverity(option.label)"
            ></p-tag>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">Class Type</label>
        <div class="flex gap-4">
          <div class="field-radiobutton">
            <p-radioButton
              id="clazzType1"
              name="clazzType"
              value="ZOOM"
              [(ngModel)]="schedule.clazzType"
            ></p-radioButton>
            <label class="ml-2 text-sm text-gray-700">Zoom</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              id="clazzType2"
              name="clazzType"
              value="CLASSROOM"
              [(ngModel)]="schedule.clazzType"
            ></p-radioButton>
            <label class="ml-2 text-sm text-gray-700">Classroom</label>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700"> Date/Time </label>
        <div class="flex mt-1 gap-2">
          <p-calendar
            [(ngModel)]="date"
            appendTo="body"
            [showButtonBar]="true"
            class="w-28"
          ></p-calendar>
          <p-calendar
            [(ngModel)]="startTime"
            [timeOnly]="true"
            appendTo="body"
            placeholder="HH:mm"
            class="w-20"
          ></p-calendar>
          <p class="py-3">:</p>
          <p-calendar
            [(ngModel)]="endTime"
            [timeOnly]="true"
            appendTo="body"
            placeholder="HH:mm"
            class="w-20"
          ></p-calendar>
          <p class="py-4 text-xs italic">(dd/mm/yyyy hh:mm - format: 24h)</p>
        </div>
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">
          Class Details <span class="text-red-500">*</span></label
        >
        <input
          id="clazzDetails"
          type="text"
          pInputText
          [(ngModel)]="schedule.clazzDetails"
          class="transition-all outline outline-2 outline-transparent hover:border-blue-500 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline mt-1 p-2 w-full sm:text-sm border border-gray-300 rounded-md"
        />
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">
          Trainers <span class="text-red-500">*</span></label
        >
        <p-multiSelect
          appendTo="body"
          [options]="trainers"
          [(ngModel)]="schedule.trainers"
          defaultLabel="Select trainers"
          optionLabel="fullName"
        >
          <ng-template let-value pTemplate="selectedItems">
            <div
              class="flex align-items-center gap-2"
              *ngFor="let option of schedule.trainers"
            >
              <p-chip
                [label]="option.firstName + ' ' + option.lastName"
                [image]="path + '/users/images/' + option.avatar"
                [removable]="true"
                (onRemove)="remove(option)"
              ></p-chip>
            </div>
            <div *ngIf="!schedule.trainers || schedule.trainers.length === 0">
              Select Trainers
            </div>
          </ng-template>
          <ng-template let-trainer pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img
                [src]="path + '/users/images/' + trainer.avatar"
                style="width: 24px"
              />
              <div>{{ trainer.firstName }} {{ trainer.lastName }}</div>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">
          Class <span class="text-red-500">*</span></label
        >
        <p-dropdown
          appendTo="body"
          [(ngModel)]="schedule.clazz"
          id="clazz"
          [options]="clazzes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Select a Class"
          class="mt-1 block w-full sm:text-sm"
        >
        </p-dropdown>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog #cd [style]="{ width: '450px' }">
  <ng-template pTemplate="footer">
    <p-button
      styleClass="p-button-secondary"
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></p-button>
    <p-button
      styleClass="p-button-danger"
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></p-button>
  </ng-template>
</p-confirmDialog>
