<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="add()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <div class="mx-auto mt-4">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            id="search"
            type="text"
            pInputText
            placeholder="Search"
            class="border-gray-300 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline p-inputtext-sm w-full border-2 rounded-lg pl-10 pr-2 py-1"
          />
        </span>
      </div>
    </ng-template>
  </p-toolbar>
  <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3%">ID</th>
        <th style="width: 15%">Username</th>
        <th style="width: 15%">First Name</th>
        <th style="width: 15%">Last Name</th>
        <th style="width: 27%">Email</th>
        <th style="width: 20%">Role</th>
        <th style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <p-tag
            [value]="user.role"
            [severity]="getSeverity(user.role)"
          ></p-tag>
        </td>
        <td>
          <div class="flex gap-3">
            <div class="hover:cursor-pointer" (click)="edit(user)">
              <i class="pi pi-pencil" style="color: blue"></i>
            </div>
            <div class="hover:cursor-pointer" (click)="delete(user)">
              <i class="pi pi-trash" style="color: red"></i>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20, 30]"
  ></p-paginator>
</div>
<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '550px' }"
  header="User Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="space-y-4">
      <div class="field">
        <label class="block font-medium text-gray-700">
          Username <span class="text-red-500">*</span></label
        >
        <input
          type="text"
          pInputText
          id="username"
          [(ngModel)]="user.username"
          required
          autofocus
          class="border-gray-300 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline mt-1 p-2 block w-full shadow-sm sm:text-sm border rounded-md"
        />
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">
          First Name <span class="text-red-500">*</span></label
        >
        <input
          type="text"
          pInputText
          id="firstName"
          [(ngModel)]="user.firstName"
          required
          class="border-gray-300 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline mt-1 p-2 block w-full shadow-sm sm:text-sm border rounded-md"
        />
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">
          Last name <span class="text-red-500">*</span></label
        >
        <input
          type="text"
          pInputText
          id="lastName"
          [(ngModel)]="user.lastName"
          required
          class="border-gray-300 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline mt-1 p-2 block w-full shadow-sm sm:text-sm border rounded-md"
        />
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700">
          Email <span class="text-red-500">*</span></label
        >
        <input
          type="text"
          pInputText
          id="lastName"
          [(ngModel)]="user.email"
          required
          class="border-gray-300 focus:border-blue-500 focus:outline-2 focus:outline-blue-200 focus:outline mt-1 p-2 block w-full shadow-sm sm:text-sm border rounded-md"
        />
      </div>
      <div class="field">
        <label class="block font-medium text-gray-700"> Role </label>
        <p-dropdown
          appendTo="body"
          [(ngModel)]="user.role"
          id="role"
          [options]="roles"
          class="mt-1 block sm:text-sm"
        >
          <ng-template pTemplate="selectedItem">
            <p-tag
              [value]="user.role || ''"
              [severity]="getSeverity(user.role || '')"
            ></p-tag>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <p-tag
              [value]="option.label"
              [severity]="getSeverity(option.label)"
            ></p-tag>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog #cd [style]="{ width: '450px' }">
  <ng-template pTemplate="footer">
    <p-button
      styleClass="p-button-secondary"
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></p-button>
    <p-button
      styleClass="p-button-danger"
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></p-button>
  </ng-template>
</p-confirmDialog>
